<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="style__header__content">
            <span class="cust__header">{{title | async}}</span>
        </div>
        <span class="example-spacer"></span>
        @if(isHome) {
            <button mat-raised-button class="customize__goto__pokemon" [routerLink]="['/prebooking-details']" color="accent">Contact us for prebooking</button>
        } @else {
            <button mat-raised-button class="customize__goto__pokemon" [routerLink]="['/home']" color="accent">Go Home</button>
        }
    
        
    </mat-toolbar-row>
</mat-toolbar>
