/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;   font-family: "Jersey 10";
    background: #303030; 
    font-style: normal; }

* {
    font-family: "Jersey 10";
    font-style: normal;
  }